.wrap{
    margin: 20px auto;
    width: 1600px;
}
.image{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.contain{
    display: flex;
    flex-wrap: wrap;
    
}
.card{
    width: 260px;
    margin-bottom: 20px;
}
.img-box{
    width: 100%;
    height: 250px;
    position: relative;
}
.header_text{
    text-align: left;
    margin-left: 40px;
}
.price{
    font-size: 24px;
    font-weight: 800;
}
.product-info{
    text-align: left;
    margin-left: 40px;
}
.btn{
    background: #4D96FF;
    border-radius: 5px;
    border: none;
    color: #fff;
    width: 115px;
    height: 40px;
    cursor: pointer;
}
.btn-disabled{
  cursor: not-allowed;
  border-radius: 5px;
    border: none;
    color: #fff;
    width: 115px;
    height: 40px;
    background-color: #ccc;
}
.sec2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec2 span{
    margin-right: 90px;
    font-size: 18px;
    cursor: pointer;
}