.header-wrap{
    width: 1520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.form{
    display: flex;
}
.menu{
    cursor: pointer;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.input-search{
    width: 500px;
    padding: 10px;
    border:1px solid #ccc;
}
.search-btn{
    width: 50px;
    height: 37px;
    border: none;
    background-color: #4D96FF;
    border-radius: 4px;
}
.nav-img{
    width: 80px;
    height: 20px;
    margin-top: 20px;
    margin-left: px;
}
.nav{
    width: 1200px;
    margin-top: 50px;
    margin-left: 120px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
}
.nav ul li {
    list-style: none;
    cursor: pointer;
}